// Validation Landing
.validation-landing {
  // Title
  .title {
    max-width: 450px;
    margin: 0 auto;
    padding-left: 0;
    span {
      font-weight: 300;
    }
  }

  // Form
  .validation-form {
    max-width: 450px;
    margin: 0 auto;
    .validation-button {
      width: 100%;
    }
  }

  // Alert
  .alert {
    max-width: 450px;
    margin: 0 auto;
  }

  // Table
  .table {
    margin-top: 40px;
  }
}
